In [1]:
import pandas as pd
import datetime as dt

In [2]:
year = '2018'
type = 'yellow'

In [3]:
m01=pd.read_csv(f'../../Data/Taxi Processed - Taxi Zone/{type}_{year}/{type}_tripdata_{year}-01-processed.csv')
m02=pd.read_csv(f'../../Data/Taxi Processed - Taxi Zone/{type}_{year}/{type}_tripdata_{year}-02-processed.csv')
m03=pd.read_csv(f'../../Data/Taxi Processed - Taxi Zone/{type}_{year}/{type}_tripdata_{year}-03-processed.csv')
m04=pd.read_csv(f'../../Data/Taxi Processed - Taxi Zone/{type}_{year}/{type}_tripdata_{year}-04-processed.csv')
m05=pd.read_csv(f'../../Data/Taxi Processed - Taxi Zone/{type}_{year}/{type}_tripdata_{year}-05-processed.csv')
m06=pd.read_csv(f'../../Data/Taxi Processed - Taxi Zone/{type}_{year}/{type}_tripdata_{year}-06-processed.csv')
m07=pd.read_csv(f'../../Data/Taxi Processed - Taxi Zone/{type}_{year}/{type}_tripdata_{year}-07-processed.csv')
m08=pd.read_csv(f'../../Data/Taxi Processed - Taxi Zone/{type}_{year}/{type}_tripdata_{year}-08-processed.csv')
m09=pd.read_csv(f'../../Data/Taxi Processed - Taxi Zone/{type}_{year}/{type}_tripdata_{year}-09-processed.csv')
m10=pd.read_csv(f'../../Data/Taxi Processed - Taxi Zone/{type}_{year}/{type}_tripdata_{year}-10-processed.csv')
m11=pd.read_csv(f'../../Data/Taxi Processed - Taxi Zone/{type}_{year}/{type}_tripdata_{year}-11-processed.csv')
m12=pd.read_csv(f'../../Data/Taxi Processed - Taxi Zone/{type}_{year}/{type}_tripdata_{year}-12-processed.csv')

In [4]:
m01['Date']=f'01/01/{year}'
m02['Date']=f'02/01/{year}'
m03['Date']=f'03/01/{year}'
m04['Date']=f'04/01/{year}'
m05['Date']=f'05/01/{year}'
m06['Date']=f'06/01/{year}'
m07['Date']=f'07/01/{year}'
m08['Date']=f'08/01/{year}'
m09['Date']=f'09/01/{year}'
m10['Date']=f'10/01/{year}'
m11['Date']=f'11/01/{year}'
m12['Date']=f'12/01/{year}'

In [5]:
full=pd.concat([m01,m02,m03,m04,m05,m06,m07,m08,m09,m10,m11,m12])

In [6]:
full['Date']= pd.to_datetime(full['Date'])

In [7]:
full['type']=f'{type}'

In [8]:
full.to_csv(f'../../Data/Taxi Processed - Taxi Zone/Year Processed/{type}_{year}-processed.csv')

In [10]:
check=pd.read_csv('../../Data/Taxi Processed - Taxi Zone/Year Processed/yellow_2018-processed.csv')

In [11]:
check

,Unnamed: 0,LocationID,passenger_count_count,passenger_count_mean,passenger_count_std,passenger_count_min,passenger_count_25%,passenger_count_50%,passenger_count_75%,passenger_count_max,...,tolls_amount_mean,tolls_amount_std,tolls_amount_min,tolls_amount_25%,tolls_amount_50%,tolls_amount_75%,tolls_amount_max,dropoff_count,Date,type
0,0,1,571.0,1.523643,1.147408,0.0,1.00,1.0,2.00,9.0,...,3.196340,8.814444,0.00,0.0,0.0,0.00,96.50,14042.0,2018-01-01,yellow
1,1,2,4.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0,...,1.440000,2.880000,0.00,0.0,0.0,1.44,5.76,5.0,2018-01-01,yellow
2,2,3,37.0,1.324324,0.747368,1.0,1.00,1.0,1.00,4.0,...,0.311351,1.320442,0.00,0.0,0.0,0.00,5.76,515.0,2018-01-01,yellow
3,3,4,19656.0,1.620981,1.264475,0.0,1.00,1.0,2.00,7.0,...,0.036143,0.519917,0.00,0.0,0.0,0.00,17.28,42567.0,2018-01-01,yellow
4,4,5,2.0,1.500000,0.707107,1.0,1.25,1.5,1.75,2.0,...,0.000000,0.000000,0.00,0.0,0.0,0.00,0.00,55.0,2018-01-01,yellow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3127,257,261,49886.0,1.688410,1.278206,0.0,1.00,1.0,2.00,6.0,...,0.298548,1.602951,0.00,0.0,0.0,0.00,34.56,40129.0,2018-12-01,yellow
3128,258,262,101208.0,1.580725,1.245044,0.0,1.00,1.0,2.00,6.0,...,0.170693,1.048823,-5.76,0.0,0.0,0.00,29.70,112120.0,2018-12-01,yellow
3129,259,263,163411.0,1.576809,1.228022,0.0,1.00,1.0,2.00,7.0,...,0.130850,0.909102,0.00,0.0,0.0,0.00,25.00,164629.0,2018-12-01,yellow
3130,260,264,158648.0,1.423025,1.038026,0.0,1.00,1.0,2.00,9.0,...,0.278446,3.640711,0.00,0.0,0.0,0.00,916.76,145235.0,2018-12-01,yellow
3131,261,265,4327.0,1.423388,0.982552,0.0,1.00,1.0,1.00,9.0,...,2.498269,14.300427,-18.00,0.0,0.0,0.00,810.50,19088.0,2018-12-01,yellow