In [1]:
import pandas as pd
import requests
import os
from geopy import geocoders
from geopy.geocoders import GoogleV3

In [3]:
df=pd.read_csv('../../Data/Property Data Processed/2014 address concat.csv')

In [4]:
df

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,address_full
0,0,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3030,59,,A1,418 EAST 182 STREET,...,0,1,1165,1488,1899,1,A1,225000,2014-12-11,"418 EAST 182 STREET , New..."
1,1,2,BATHGATE,01 ONE FAMILY DWELLINGS,1B,3035,42,,V0,1979 WASHINGTON AVENUE,...,0,1,7434,0,1899,1,A1,580000,2014-02-07,"1979 WASHINGTON AVENUE , New..."
2,2,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3039,64,,A1,467 EAST 185TH STREET,...,0,1,1667,1296,1910,1,A1,225000,2014-09-29,"467 EAST 185TH STREET , New..."
3,3,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3046,52,,A1,2047 BATHGATE AVE,...,0,1,2329,1431,1901,1,A1,10,2014-01-22,"2047 BATHGATE AVE , New..."
4,4,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,2912,117,,B1,1538 WASHINGTON AVENUE,...,0,2,2000,2400,1993,1,B1,297000,2014-06-13,"1538 WASHINGTON AVENUE , New..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61628,7429,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7316,84,,B2,57 DARNELL LANE,...,0,2,2311,2100,1995,1,B2,470000,2014-03-31,"57 DARNELL LANE , New..."
61629,7430,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7316,89,,B2,131 DARNELL LANE,...,0,2,3011,1900,1995,1,B2,465000,2014-05-05,"131 DARNELL LANE , New..."
61630,7432,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,3,,B9,47 PHEASANT LANE,...,0,2,2492,2450,1998,1,B9,610000,2014-09-11,"47 PHEASANT LANE , New..."
61631,7434,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,71,,B9,16 PHEASANT LANE,...,0,2,2311,1971,1998,1,B9,474000,2014-06-06,"16 PHEASANT LANE , New..."
61632,7435,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,11,,B2,40 HERRICK AVENUE,...,0,2,4000,2962,2000,1,B2,200000,2014-03-21,"40 HERRICK AVENUE , New..."

In [5]:
API_KEY = 
g = GoogleV3(api_key=API_KEY)


loc_coordinates = []
loc_address = []
for x in df['address_full']:
    try:
        inputAddress = x
        location = g.geocode(x, timeout=15)
        loc_coordinates.append((location.latitude, location.longitude))
        loc_address.append(x)
    except Exception as e:
        print('Error, skipping address...', e)


df_geocodes = pd.DataFrame({'coordinate':loc_coordinates,'address':loc_address})

Error, skipping address... 'NoneType' object has no attribute 'latitude'
Error, skipping address... 'NoneType' object has no attribute 'latitude'

KeyboardInterrupt:

In [7]:
df_geocodes.to_csv('../../Data/Property Data Processed/2014_Prop_val_point_data.csv')

In [8]:
df['address']=df['address_full']

In [26]:
merge_df=df.merge(df_geocodes, how='left', left_on='address', right_on ='address')

In [27]:
merge_df=merge_df.drop(columns=['address_full'],axis=1)

In [28]:
merge_df

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,address,coordinate
0,0,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3030,59,,A1,418 EAST 182 STREET,...,1,1165,1488,1899,1,A1,225000,2014-12-11,"418 EAST 182 STREET , New...","(40.85449620000001, -73.8957827)"
1,1,2,BATHGATE,01 ONE FAMILY DWELLINGS,1B,3035,42,,V0,1979 WASHINGTON AVENUE,...,1,7434,0,1899,1,A1,580000,2014-02-07,"1979 WASHINGTON AVENUE , New...","(40.8489352, -73.8972251)"
2,2,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3039,64,,A1,467 EAST 185TH STREET,...,1,1667,1296,1910,1,A1,225000,2014-09-29,"467 EAST 185TH STREET , New...","(40.8567748, -73.89250310000001)"
3,3,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3046,52,,A1,2047 BATHGATE AVE,...,1,2329,1431,1901,1,A1,10,2014-01-22,"2047 BATHGATE AVE , New...","(40.8501355, -73.8955873)"
4,4,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,2912,117,,B1,1538 WASHINGTON AVENUE,...,2,2000,2400,1993,1,B1,297000,2014-06-13,"1538 WASHINGTON AVENUE , New...","(40.838036, -73.90277999999999)"
5,5,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,2912,131,,B1,484 CLAREMONT PARKWAY,...,2,2000,2400,1993,1,B1,390000,2014-10-17,"484 CLAREMONT PARKWAY , New...","(40.838389, -73.902267)"
6,6,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,2912,152,,B1,517 EAST 171 STREET,...,2,2000,2400,1993,1,B1,0,2014-05-09,"517 EAST 171 STREET , New...","(40.837458, -73.902215)"
7,7,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,3030,60,,B3,4469 PARK AVENUE,...,2,1542,1542,1899,1,B3,300000,2014-03-28,"4469 PARK AVENUE , New...","(40.8543726, -73.8959802)"
8,8,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,3035,140,,B1,1983 WASHINGTON AVENUE,...,2,4124,2340,1998,1,B1,0,2014-07-15,"1983 WASHINGTON AVENUE , New...","(40.8491157, -73.89724609999999)"
9,9,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,3036,37,,B2,2083 WASHINGTON AVENUE,...,2,2500,2772,1899,1,B2,525200,2014-12-29,"2083 WASHINGTON AVENUE , New...","(40.8511303, -73.8959978)"

In [29]:
merge_df['coordinate']=merge_df['coordinate'].astype(str)

In [31]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      10 non-null     int64
 1   BOROUGH                         10 non-null     int64
 2   NEIGHBORHOOD                    10 non-null     object
 3   BUILDING CLASS CATEGORY         10 non-null     object
 4   TAX CLASS AT PRESENT            10 non-null     object
 5   BLOCK                           10 non-null     int64
 6   LOT                             10 non-null     int64
 7   EASE-MENT                       10 non-null     object
 8   BUILDING CLASS AT PRESENT       10 non-null     object
 9   ADDRESS                         10 non-null     object
 10  APARTMENT NUMBER                10 non-null     object
 11  ZIP CODE                        10 non-null     int64
 12  RESIDENTIAL UNITS               10 non-null     int64
 13  COMMERCIAL UNITS                10 non-null     int64
 14  TOTAL UNITS                     10 non-null     int64
 15  LAND SQUARE FEET                10 non-null     int64
 16  GROSS SQUARE FEET               10 non-null     int64
 17  YEAR BUILT                      10 non-null     int64
 18  TAX CLASS AT TIME OF SALE       10 non-null     int64
 19  BUILDING CLASS AT TIME OF SALE  10 non-null     object
 20  SALE PRICE                      10 non-null     int64
 21  SALE DATE                       10 non-null     object
 22  address                         10 non-null     object
 23  coordinate                      10 non-null     object
dtypes: int64(13), object(11)
memory usage: 2.0+ KB

In [20]:
split=merge_df['coordinate'].str.strip('()')                               \
                   .str.split(', ', expand=True)                   \
                   .rename(columns={0:'Latitude', 1:'Longitude'})

AttributeError: Can only use .str accessor with string values!

In [ ]:
df2=df1.join(split)

In [ ]:
df2

In [12]:
df1.to_csv('../../Data/property_and_geo_cleaned.csv')

NameError: name 'df1' is not defined

In [ ]:
df2=pd.read_csv('../Data Files/NPI_and_addresses_cleaned_geo.csv')