In [1]:
from shapely.geometry import Point
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
import xlrd
import time
from IPython.display import Audio
import dask.dataframe as dd
import fastparquet
from shapely.ops import nearest_points

In [59]:
#finish indicator
wow = '../../Data/Wow.mp3'
finished=Audio(url = wow, autoplay = True) 

#finish indicator
wow = '../../Data/Hugo Good Job.mp3'
complete=Audio(url = wow, autoplay = True)

In [3]:
taxi_zone = gpd.read_file('../../Data/Taxi Zones Shape/taxi_zones.shp')#.to_crs('epsg:4326')
taxi_zone = taxi_zone.drop(['Shape_Area', 'Shape_Leng', 'OBJECTID'], axis=1)


complete

zip_code = gpd.read_file('../../Data/ZIP CODES SHAPE/ZIP_CODE_040114.shp')#.to_crs('epsg:4326')
gpd.sjoin(gpd.GeoDataFrame(crs='epsg:4326',
    geometry=[Point(-73.966, 40.78)]), 
    zip_code, how='left', op='within')

complete

In [4]:
zip_code = gpd.read_file('../../Data/ZIP CODES SHAPE/ZIP_CODE_040114.shp')#.to_crs('epsg:4326')

complete

In [5]:
zip_code

,ZIPCODE,BLDGZIP,PO_NAME,POPULATION,AREA,STATE,COUNTY,ST_FIPS,CTY_FIPS,URL,SHAPE_AREA,SHAPE_LEN,geometry
0,11436,0,Jamaica,18681.0,2.269930e+07,NY,Queens,36,081,http://www.usps.com/,0.0,0.0,"POLYGON ((1038098.252 188138.380, 1038141.936 ..."
1,11213,0,Brooklyn,62426.0,2.963100e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((1001613.713 186926.440, 1002314.243 ..."
2,11212,0,Brooklyn,83866.0,4.197210e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((1011174.276 183696.338, 1011373.584 ..."
3,11225,0,Brooklyn,56527.0,2.369863e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((995908.365 183617.613, 996522.848 18..."
4,11218,0,Brooklyn,72280.0,3.686880e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((991997.113 176307.496, 992042.798 17..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,10310,0,Staten Island,25003.0,5.346328e+07,NY,Richmond,36,085,http://www.usps.com/,0.0,0.0,"POLYGON ((950767.507 172848.969, 950787.510 17..."
259,11693,0,Far Rockaway,11052.0,3.497516e+06,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((1028453.995 167153.410, 1027813.010 ..."
260,11249,0,Brooklyn,28481.0,1.777221e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((995877.318 203206.075, 995968.511 20..."
261,10162,1,New York,0.0,2.103489e+04,NY,New York,36,061,http://www.usps.com/,0.0,0.0,"POLYGON ((997731.761 219560.922, 997641.948 21..."
262,10119,1,New York,0.0,1.263930e+05,NY,New York,36,061,http://www.usps.com/,0.0,0.0,"POLYGON ((986038.661 213051.063, 986135.314 21..."

In [6]:
zip_points = zip_code.copy()
zip_points['geometry'] = zip_points['geometry'].centroid

In [7]:
taxi_points = taxi_zone.copy()
taxi_points['geometry'] = taxi_points['geometry'].centroid

In [8]:
taxi_points=taxi_points.to_crs('epsg:4326')
zip_points=zip_points.to_crs('epsg:4326')

In [9]:
taxi_points

,zone,LocationID,borough,geometry
0,Newark Airport,1,EWR,POINT (-74.17400 40.69183)
1,Jamaica Bay,2,Queens,POINT (-73.83130 40.61675)
2,Allerton/Pelham Gardens,3,Bronx,POINT (-73.84742 40.86447)
3,Alphabet City,4,Manhattan,POINT (-73.97697 40.72375)
4,Arden Heights,5,Staten Island,POINT (-74.18849 40.55266)
...,...,...,...,...
258,Woodlawn/Wakefield,259,Bronx,POINT (-73.85222 40.89793)
259,Woodside,260,Queens,POINT (-73.90631 40.74423)
260,World Trade Center,261,Manhattan,POINT (-74.01302 40.70914)
261,Yorkville East,262,Manhattan,POINT (-73.94651 40.77593)
262,Yorkville West,263,Manhattan,POINT (-73.95101 40.77877)

In [10]:
taxi_points['lat_lng']=taxi_points['geometry']

In [11]:
zip_points['lat_lng']=zip_points['geometry']

In [12]:
taxi_points['lat_lng']=taxi_points['lat_lng'].astype(str)

In [13]:
zip_points['lat_lng']=zip_points['lat_lng'].astype(str)

In [14]:
taxi_points_split=taxi_points['lat_lng'].str.strip('POINT(') \
                      .str.strip('(') \
                      .str.strip(')') \
                      .str.split(' ', expand=True)                   \
                     .rename(columns={1:'lat', 2:'lon'})

In [15]:
zip_points_split=zip_points['lat_lng'].str.strip('POINT(') \
                      .str.strip('(') \
                      .str.strip(')') \
                      .str.split(' ', expand=True)                   \
                     .rename(columns={1:'lat', 2:'lon'})

In [16]:
taxi_points=taxi_points.join(taxi_points_split)

In [17]:
zip_points=zip_points.join(taxi_points_split)

In [18]:
taxi_points['lat']=taxi_points['lat'].str.strip('(')

In [19]:
zip_points['lat']=zip_points['lat'].str.strip('(')

In [20]:
taxi_points=taxi_points[['zone','LocationID','borough','geometry','lat','lon']]

In [21]:
zip_points=zip_points[['ZIPCODE','PO_NAME','COUNTY','geometry','lat','lon']]

In [22]:
taxi_points

,zone,LocationID,borough,geometry,lat,lon
0,Newark Airport,1,EWR,POINT (-74.17400 40.69183),-74.17400137278653,40.69183011107549
1,Jamaica Bay,2,Queens,POINT (-73.83130 40.61675),-73.83130005002184,40.61674557260063
2,Allerton/Pelham Gardens,3,Bronx,POINT (-73.84742 40.86447),-73.84742177366226,40.86447318881057
3,Alphabet City,4,Manhattan,POINT (-73.97697 40.72375),-73.97696810617441,40.72375155202172
4,Arden Heights,5,Staten Island,POINT (-74.18849 40.55266),-74.18848505675093,40.55265861459782
...,...,...,...,...,...,...
258,Woodlawn/Wakefield,259,Bronx,POINT (-73.85222 40.89793),-73.85221508361175,40.89793162840499
259,Woodside,260,Queens,POINT (-73.90631 40.74423),-73.90630713230253,40.74423296307197
260,World Trade Center,261,Manhattan,POINT (-74.01302 40.70914),-74.01302265094951,40.70913843565989
261,Yorkville East,262,Manhattan,POINT (-73.94651 40.77593),-73.94651031378342,40.77593173933266
262,Yorkville West,263,Manhattan,POINT (-73.95101 40.77877),-73.95100989115144,40.77876518813074

In [23]:
zip_points.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ZIPCODE   263 non-null    object
 1   PO_NAME   263 non-null    object
 2   COUNTY    263 non-null    object
 3   geometry  263 non-null    geometry
 4   lat       263 non-null    object
 5   lon       263 non-null    object
dtypes: geometry(1), object(5)
memory usage: 12.5+ KB

In [24]:
taxi_points=taxi_points.rename(columns = {'lat1':'lat','lon1':'lon'})

In [25]:
zip_points=zip_points.rename(columns = {'lat2':'lat','lon2':'lon'})

In [26]:
zip_points.columns

Index(['ZIPCODE', 'PO_NAME', 'COUNTY', 'geometry', 'lat', 'lon'], dtype='object')

In [27]:
taxi_points[['lat','lon']]=taxi_points[['lat','lon']].astype(float)

In [28]:
zip_points[['lat','lon']]=zip_points[['lat','lon']].astype(float)

In [29]:
def dist(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.    

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

In [30]:
def find_nearest(lat, lon):
    distances = zip_points.apply(
        lambda row: dist(lat, lon, row['lat'], row['lon']), 
        axis=1)
    return zip_points.loc[distances.idxmin(), 'ZIPCODE']

In [31]:
taxi_points['ZIPCODE'] = taxi_points.apply(
    lambda row: find_nearest(row['lat'], row['lon']), 
    axis=1)

taxi_points.head()

,zone,LocationID,borough,geometry,lat,lon,ZIPCODE
0,Newark Airport,1,EWR,POINT (-74.17400 40.69183),-74.174001,40.691830,11436
1,Jamaica Bay,2,Queens,POINT (-73.83130 40.61675),-73.831300,40.616746,11213
2,Allerton/Pelham Gardens,3,Bronx,POINT (-73.84742 40.86447),-73.847422,40.864473,11212
3,Alphabet City,4,Manhattan,POINT (-73.97697 40.72375),-73.976968,40.723752,11225
4,Arden Heights,5,Staten Island,POINT (-74.18849 40.55266),-74.188485,40.552659,11218

In [38]:
taxi_points['ZIPCODE'].nunique()

248

In [40]:
taxi_points['LocationID'].nunique()

260

In [42]:
taxi_points.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [41]:
taxi_zone_for_join = gpd.read_file('../../Data/Taxi Zones Shape/taxi_zones.shp').to_crs('epsg:4326')

In [44]:
taxi_points_for_join = taxi_points[['LocationID','ZIPCODE']]

In [47]:
merge=taxi_zone_for_join.merge(taxi_points_for_join)

In [58]:
merge.to_file('../../Data/Final_Shape_test3.shp')

In [56]:
merge.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 271 entries, 0 to 270
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    271 non-null    int64
 1   Shape_Leng  271 non-null    float64
 2   Shape_Area  271 non-null    float64
 3   zone        271 non-null    object
 4   LocationID  271 non-null    int64
 5   borough     271 non-null    object
 6   geometry    271 non-null    geometry
 7   ZIPCODE     271 non-null    float64
dtypes: float64(3), geometry(1), int64(2), object(2)
memory usage: 19.1+ KB

In [57]:
merge['ZIPCODE']=merge['ZIPCODE'].astype(int)

In [ ]:
taxi_points['closest'] = taxi_points.apply(
    lambda row: find_nearest(row['lat'], row['lon']), 
    axis=1)
# To check the data frame if it has a new column of hotel name (for each and every member's location in the list)
taxi_points.head()

In [ ]:
trips= dd.read_csv('../../Data/Taxi Data/yellow_14/yellow_tripdata_2014-01.csv',dtype={' tolls_amount': 'float64'})

In [ ]:
trips['pickup_taxizone_id'] = trips.map_partitions(
    assign_taxi_zones, " pickup_longitude", " pickup_latitude",
    "pickup_taxizone_id", meta=('pickup_taxizone_id', np.float64))
trips['dropoff_taxizone_id'] = trips.map_partitions(
    assign_taxi_zones, " dropoff_longitude", " dropoff_latitude",
    "dropoff_taxizone_id", meta=('dropoff_taxizone_id', np.float64))
trips[['pickup_taxizone_id', 'dropoff_taxizone_id']].head()

#assume_missing=True

In [ ]:
start_time = time.time()

df.to_parquet('df_2014-01.parquet', has_nulls=True,
     object_encoding='json', compression="SNAPPY")
df = dd.read_parquet('df_2014-015.parquet',
    columns=['pickup_taxizone_id', 'dropoff_taxizone_id'])

print("--- %s seconds ---" % (time.time() - start_time))

complete

In [ ]:
trips.info()

In [ ]:
trips.describe()

In [ ]:
trips2= dd.read_csv('../../Data/Taxi Data/yellow_14/yellow_tripdata_2014-01.csv',dtype={' tolls_amount': 'float64'})

In [ ]:
trips2.tail()

In [ ]:
trips.tail()

In [ ]:
trips3=trips2.merge(trips2,trips, how=index)

In [ ]:
trips4= pd.read_csv('../../Data/Taxi Data/yellow_14/yellow_tripdata_2014-01.csv',dtype={' tolls_amount': 'float64'})

In [ ]:
trips3=trips2.merge(trips, how='inner', on=None)

In [ ]:
trips3.head()

In [ ]:
trips4.info()