In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('../../Data/Taxi Data/yellow_17/yellow_tripdata_2017-12.csv')

In [3]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2017-12-01 00:12:00,2017-12-01 00:12:51,1,0.00,1,N,226,226,3,2.5,0.5,0.5,0.00,0.0,0.3,3.80
1,1,2017-12-01 00:13:37,2017-12-01 00:13:47,1,0.00,1,N,226,226,3,2.5,0.5,0.5,0.00,0.0,0.3,3.80
2,1,2017-12-01 00:14:15,2017-12-01 00:15:05,1,0.00,1,N,226,226,3,2.5,0.5,0.5,0.00,0.0,0.3,3.80
3,1,2017-12-01 00:15:33,2017-12-01 00:15:37,1,0.00,1,N,226,226,3,2.5,0.5,0.5,0.00,0.0,0.3,3.80
4,1,2017-12-01 00:50:03,2017-12-01 00:53:35,1,0.00,1,N,145,145,2,4.0,0.5,0.5,0.00,0.0,0.3,5.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9508271,1,2017-12-31 23:31:57,2017-12-31 23:55:59,1,9.80,1,N,186,127,1,30.5,0.5,0.5,3.00,0.0,0.3,34.80
9508272,2,2017-12-31 22:53:16,2017-12-31 22:57:03,1,0.63,1,N,74,74,1,5.0,0.5,0.5,1.26,0.0,0.3,7.56
9508273,2,2017-12-31 23:05:23,2017-12-31 23:14:30,1,3.05,1,N,236,42,1,10.5,0.5,0.5,2.00,0.0,0.3,13.80
9508274,2,2017-12-31 23:22:29,2017-12-31 23:31:47,1,1.76,1,N,74,152,1,8.5,0.5,0.5,0.00,0.0,0.3,9.80
9508275,2,2017-12-31 23:34:49,2017-12-31 23:40:29,1,0.91,1,N,152,41,1,6.0,0.5,0.5,0.00,0.0,0.3,7.30

In [4]:
df=df.reset_index()

df['store_and_fwd_flag'].value_counts()

df['RatecodeID'].value_counts()

In [5]:
df_start=df[['passenger_count','trip_distance','fare_amount','mta_tax','tip_amount','tolls_amount','PULocationID']]

In [6]:
df_start=df_start.rename(columns={"PULocationID": "LocationID"})

In [7]:
df_end=df[['DOLocationID']]

df_end

df_start

In [8]:
df_end=df.rename(columns={"DOLocationID": "LocationID"})

In [9]:
group_start = df_start.groupby(['LocationID']).describe()

In [10]:
group_start.columns = ['_'.join(col) for col in group_start.columns.values]

In [11]:
group_start

,passenger_count_count,passenger_count_mean,passenger_count_std,passenger_count_min,passenger_count_25%,passenger_count_50%,passenger_count_75%,passenger_count_max,trip_distance_count,trip_distance_mean,...,tip_amount_75%,tip_amount_max,tolls_amount_count,tolls_amount_mean,tolls_amount_std,tolls_amount_min,tolls_amount_25%,tolls_amount_50%,tolls_amount_75%,tolls_amount_max
LocationID,,,,,,,,,,,,,,,,,,,,,
1,732.0,1.495902,1.040222,0.0,1.0,1.0,2.0,9.0,732.0,2.374604,...,18.0625,175.00,732.0,3.607623,7.509898,0.0,0.0,0.0,0.00,75.00
2,7.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0,7.0,12.704286,...,9.4300,11.70,7.0,2.468571,3.078850,0.0,0.0,0.0,5.76,5.76
3,41.0,1.878049,1.519788,1.0,1.0,1.0,2.0,6.0,41.0,5.121463,...,1.8500,15.32,41.0,0.702439,1.908257,0.0,0.0,0.0,0.00,5.76
4,23641.0,1.627131,1.269354,0.0,1.0,1.0,2.0,8.0,23641.0,2.609163,...,2.3600,198.00,23641.0,0.063684,0.723120,0.0,0.0,0.0,0.00,21.00
5,7.0,1.000000,0.577350,0.0,1.0,1.0,1.0,2.0,7.0,0.572857,...,12.4800,20.00,7.0,4.114286,7.220542,0.0,0.0,0.0,5.76,17.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,62867.0,1.736619,1.316834,0.0,1.0,1.0,2.0,6.0,62867.0,4.028670,...,3.2000,57.56,62867.0,0.272522,1.564220,0.0,0.0,0.0,0.00,40.00
262,115646.0,1.613977,1.270413,0.0,1.0,1.0,2.0,6.0,115646.0,2.278623,...,2.1600,105.10,115646.0,0.168155,1.053003,0.0,0.0,0.0,0.00,90.05
263,180574.0,1.612043,1.263036,0.0,1.0,1.0,2.0,8.0,180574.0,2.122118,...,2.0500,222.40,180574.0,0.135828,0.951092,0.0,0.0,0.0,0.00,50.00
264,173053.0,1.451191,1.039322,0.0,1.0,1.0,2.0,9.0,173053.0,2.587020,...,2.3600,300.00,173053.0,0.254468,2.258002,0.0,0.0,0.0,0.00,755.75
265,4516.0,1.408769,0.963039,0.0,1.0,1.0,1.0,9.0,4516.0,3.166982,...,12.1600,496.00,4516.0,2.452595,6.283647,-12.5,0.0,0.0,0.00,135.76

In [12]:
group_end = df_end.value_counts(['LocationID'])

In [13]:
group_end = pd.DataFrame(group_end,columns=['dropoff_count'])

In [14]:
merge=group_start.merge(group_end, how='left', on='LocationID')

In [15]:
merge.to_csv('../../Data/yellow_tripdata_2017-12-processed.csv')

In [16]:
merge

,passenger_count_count,passenger_count_mean,passenger_count_std,passenger_count_min,passenger_count_25%,passenger_count_50%,passenger_count_75%,passenger_count_max,trip_distance_count,trip_distance_mean,...,tip_amount_max,tolls_amount_count,tolls_amount_mean,tolls_amount_std,tolls_amount_min,tolls_amount_25%,tolls_amount_50%,tolls_amount_75%,tolls_amount_max,dropoff_count
LocationID,,,,,,,,,,,,,,,,,,,,,
1,732.0,1.495902,1.040222,0.0,1.0,1.0,2.0,9.0,732.0,2.374604,...,175.00,732.0,3.607623,7.509898,0.0,0.0,0.0,0.00,75.00,18946.0
2,7.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0,7.0,12.704286,...,11.70,7.0,2.468571,3.078850,0.0,0.0,0.0,5.76,5.76,5.0
3,41.0,1.878049,1.519788,1.0,1.0,1.0,2.0,6.0,41.0,5.121463,...,15.32,41.0,0.702439,1.908257,0.0,0.0,0.0,0.00,5.76,510.0
4,23641.0,1.627131,1.269354,0.0,1.0,1.0,2.0,8.0,23641.0,2.609163,...,198.00,23641.0,0.063684,0.723120,0.0,0.0,0.0,0.00,21.00,47173.0
5,7.0,1.000000,0.577350,0.0,1.0,1.0,1.0,2.0,7.0,0.572857,...,20.00,7.0,4.114286,7.220542,0.0,0.0,0.0,5.76,17.28,72.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,62867.0,1.736619,1.316834,0.0,1.0,1.0,2.0,6.0,62867.0,4.028670,...,57.56,62867.0,0.272522,1.564220,0.0,0.0,0.0,0.00,40.00,53639.0
262,115646.0,1.613977,1.270413,0.0,1.0,1.0,2.0,6.0,115646.0,2.278623,...,105.10,115646.0,0.168155,1.053003,0.0,0.0,0.0,0.00,90.05,123387.0
263,180574.0,1.612043,1.263036,0.0,1.0,1.0,2.0,8.0,180574.0,2.122118,...,222.40,180574.0,0.135828,0.951092,0.0,0.0,0.0,0.00,50.00,181423.0
264,173053.0,1.451191,1.039322,0.0,1.0,1.0,2.0,9.0,173053.0,2.587020,...,300.00,173053.0,0.254468,2.258002,0.0,0.0,0.0,0.00,755.75,157606.0
265,4516.0,1.408769,0.963039,0.0,1.0,1.0,1.0,9.0,4516.0,3.166982,...,496.00,4516.0,2.452595,6.283647,-12.5,0.0,0.0,0.00,135.76,22306.0