In [105]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [88]:
bronx07=pd.read_excel('../Data/Property Data/sales_2007_bronx.xls', header=3)
bronx08=pd.read_excel('../Data/Property Data/sales_2008_bronx.xls', header=3)
bronx09=pd.read_excel('../Data/Property Data/2009_bronx.xls', header=3)
bronx10=pd.read_excel('../Data/Property Data/2010_bronx.xls', header=3)
bronx11=pd.read_excel('../Data/Property Data/2011_bronx.xls', header=4)
bronx12=pd.read_excel('../Data/Property Data/2012_bronx.xls', header=4)
bronx13=pd.read_excel('../Data/Property Data/2013_bronx.xls', header=4)
bronx14=pd.read_excel('../Data/Property Data/2014_bronx.xls', header=4)
bronx15=pd.read_excel('../Data/Property Data/2015_bronx.xls', header=4)

In [89]:
bronx15

,BOROUGH\n,NEIGHBORHOOD\n,BUILDING CLASS CATEGORY\n,TAX CLASS AT PRESENT\n,BLOCK\n,LOT\n,EASE-MENT\n,BUILDING CLASS AT PRESENT\n,ADDRESS\n,APARTMENT NUMBER\n,...,RESIDENTIAL UNITS\n,COMMERCIAL UNITS\n,TOTAL UNITS\n,LAND SQUARE FEET\n,GROSS SQUARE FEET\n,YEAR BUILT\n,TAX CLASS AT TIME OF SALE\n,BUILDING CLASS AT TIME OF SALE\n,SALE PRICE\n,SALE DATE\n
0,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,2905,28,,A9,1665 WASHINGTON AVENUE,,...,1,0,1,4750,2619,1899,1,A9,0,2015-08-07
1,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,2905,28,,A9,1665 WASHINGTON AVENUE,,...,1,0,1,4750,2619,1899,1,A9,0,2015-08-07
2,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3035,2,,S1,441 EAST 178 STREET,,...,1,1,2,1287,2528,1899,1,S1,0,2015-12-18
3,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3039,28,,A1,2329 WASHINGTON AVE,,...,1,0,1,1103,1290,1910,1,A1,300000,2015-02-20
4,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3039,36,,S1,455 EAST 184 STREET,,...,1,1,2,2500,2452,1910,1,S1,0,2015-08-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6731,2,WOODLAWN,10 COOPS - ELEVATOR APARTMENTS,2,3398,87,,D4,"4315 WEBSTER AVENUE, LH",,...,0,0,0,0,0,1958,2,D4,100000,2015-07-22
6732,2,WOODLAWN,10 COOPS - ELEVATOR APARTMENTS,2,3398,97,,D4,"4295 WEBSTER AVENUE, 2E",,...,0,0,0,0,0,1957,2,D4,98000,2015-02-18
6733,2,WOODLAWN,10 COOPS - ELEVATOR APARTMENTS,2,3398,97,,D4,"4295 WEBSTER AVENUE, 1B",,...,0,0,0,0,0,1957,2,D4,100000,2015-09-14
6734,2,WOODLAWN,22 STORE BUILDINGS,4,3365,54,,K4,4203 ONEIDA AVENUE,,...,2,3,5,1850,3700,1931,4,K4,0,2015-06-05
6735,2,WOODLAWN,22 STORE BUILDINGS,4,3376,49,,K4,4287 KATONAH AVENUE,,...,2,5,7,2500,4000,1926,4,K4,635000,2015-07-16

In [90]:
bronx07=bronx07.loc[~(bronx07['SALE PRICE']==0)]
bronx08=bronx08.loc[~(bronx08['SALE PRICE']==0)]
bronx09=bronx09.loc[~(bronx09['SALE PRICE']==0)]
bronx10=bronx10.loc[~(bronx10['SALE PRICE']==0)]
bronx11=bronx11.loc[~(bronx11['SALE PRICE']==0)]
bronx12=bronx12.loc[~(bronx12['SALE PRICE\n']==0)]
bronx13=bronx13.loc[~(bronx13['SALE PRICE\n']==0)]
bronx14=bronx14.loc[~(bronx14['SALE PRICE\n']==0)]
bronx15=bronx15.loc[~(bronx15['SALE PRICE\n']==0)]

In [95]:
avg1=(bronx07['SALE PRICE'].sum())/(bronx07['SALE PRICE'].count())
avg2=(bronx08['SALE PRICE'].sum())/(bronx08['SALE PRICE'].count())
avg3=(bronx09['SALE PRICE'].sum())/(bronx09['SALE PRICE'].count())
avg4=(bronx10['SALE PRICE'].sum())/(bronx10['SALE PRICE'].count())
avg5=(bronx11['SALE PRICE'].sum())/(bronx11['SALE PRICE'].count())
avg6=(bronx12['SALE PRICE\n'].sum())/(bronx12['SALE PRICE\n'].count())
avg7=(bronx13['SALE PRICE\n'].sum())/(bronx13['SALE PRICE\n'].count())
avg8=(bronx14['SALE PRICE\n'].sum())/(bronx14['SALE PRICE\n'].count())
avg9=(bronx15['SALE PRICE\n'].sum())/(bronx15['SALE PRICE\n'].count())

In [119]:
dfdgaf={'07':avg1,'08':avg2,'09':avg3,'10':avg4,'11':avg5,'12':avg6,'13':avg7,'14':avg8,'15':avg9}

In [120]:
pd.DataFrame(dfdgaf)

ValueError: If using all scalar values, you must pass an index

In [117]:
plt.dfdgaf()

AttributeError: module 'matplotlib.pyplot' has no attribute 'dfdgaf'