In [1]:
import pandas as pd
import numpy as np
import openpyxl

In [52]:
y09 = pd.read_csv('../../Data/Property Data Processed/2009 address concat mean.csv')
y10 = pd.read_csv('../../Data/Property Data Processed/2010 address concat mean.csv')
y11 = pd.read_csv('../../Data/Property Data Processed/2011 address concat mean.csv')
y12 = pd.read_csv('../../Data/Property Data Processed/2012 address concat mean.csv')
y13 = pd.read_csv('../../Data/Property Data Processed/2013 address concat mean.csv')
y14 = pd.read_csv('../../Data/Property Data Processed/2014 address concat mean.csv')
y15 = pd.read_csv('../../Data/Property Data Processed/2015 address concat mean.csv')
y19_20 = pd.read_csv('../../Data/Property Data Processed/2019-20 address concat describe.csv')

In [53]:
y19_20

,ZIP CODE,SALE PRICE_count,SALE PRICE_mean,SALE PRICE_std,SALE PRICE_min,SALE PRICE_25%,SALE PRICE_50%,SALE PRICE_75%,SALE PRICE_max,YEAR_
0,10001.0,184.0,9.801933e+06,6.072068e+07,10.0,917500.00,2762500.0,4469062.5,809912583.0,2014
1,10002.0,297.0,3.000343e+06,2.457645e+07,100000.0,680000.00,1040000.0,1933584.0,423957600.0,2014
2,10003.0,638.0,2.473335e+06,4.148555e+06,10.0,780000.00,1200000.0,2368750.0,59032957.0,2014
3,10004.0,104.0,2.222098e+06,7.439237e+06,10.0,806708.75,1007851.5,1562500.0,74303527.0,2014
4,10005.0,83.0,3.840453e+06,2.402771e+07,10.0,775000.00,1100000.0,1496750.0,220000000.0,2014
...,...,...,...,...,...,...,...,...,...,...
178,11691.0,246.0,7.644009e+05,1.185162e+06,10.0,380000.00,547500.0,748750.0,12035000.0,2014
179,11692.0,113.0,5.333506e+05,2.605270e+05,1.0,340000.00,515000.0,685000.0,1500000.0,2014
180,11693.0,90.0,4.195935e+05,2.639371e+05,1.0,267525.00,391100.0,560000.0,1425000.0,2014
181,11694.0,272.0,7.473656e+05,5.978020e+05,1.0,420000.00,649500.0,953850.0,7000000.0,2014
182,11697.0,87.0,5.934425e+05,2.295390e+05,50000.0,437500.00,550000.0,712500.0,1250000.0,2014

In [42]:
y19_20=y19_20[['ZIP CODE','SALE PRICE_mean']]

In [43]:
y19_20['YEAR']='2019'

In [44]:
y19_20['SALE PRICE']=y19_20['SALE PRICE_mean']

In [45]:
y19_20=y19_20[['ZIP CODE','SALE PRICE','YEAR']]

In [51]:
y19_20

     ZIP CODE    SALE PRICE  YEAR
0     10001.0  9.801933e+06  2019
1     10002.0  3.000343e+06  2019
2     10003.0  2.473335e+06  2019
3     10004.0  2.222098e+06  2019
4     10005.0  3.840453e+06  2019
..        ...           ...   ...
178   11691.0  7.644009e+05  2019
179   11692.0  5.333506e+05  2019
180   11693.0  4.195935e+05  2019
181   11694.0  7.473656e+05  2019
182   11697.0  5.934425e+05  2019

[183 rows x 3 columns]

In [47]:
full=pd.concat([y09,y10,y11,y12,y13,y14,y15,y19_20])

In [50]:
full.to_csv('../../Data/Property Data Processed/full years sales.csv')

In [29]:
full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1461 entries, 0 to 182
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ZIP CODE    1461 non-null   float64
 1   SALE PRICE  1461 non-null   float64
 2   YEAR        1461 non-null   object
dtypes: float64(2), object(1)
memory usage: 45.7+ KB

In [49]:
full['ZIP CODE']=full['ZIP CODE'].astype(int)

In [39]:
full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1461 entries, 0 to 182
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ZIP CODE    1461 non-null   int32
 1   SALE PRICE  1461 non-null   float64
 2   YEAR        1461 non-null   object
dtypes: float64(1), int32(1), object(1)
memory usage: 39.9+ KB

In [40]:
full

     ZIP CODE    SALE PRICE     YEAR
0           0  1.679564e+06     2009
1       10001  4.502230e+06     2009
2       10002  6.706104e+05     2009
3       10003  1.259420e+06     2009
4       10004  1.404513e+06     2009
..        ...           ...      ...
178     11691  7.644009e+05  2019-20
179     11692  5.333506e+05  2019-20
180     11693  4.195935e+05  2019-20
181     11694  7.473656e+05  2019-20
182     11697  5.934425e+05  2019-20

[1461 rows x 3 columns]