In [1]:
import pandas as pd
import numpy as np
import openpyxl

In [54]:
y09 = pd.read_csv('../../Data/Property Data Processed/2009 address concat mean.csv')
y10 = pd.read_csv('../../Data/Property Data Processed/2010 address concat mean.csv')
y11 = pd.read_csv('../../Data/Property Data Processed/2011 address concat mean.csv')
y12 = pd.read_csv('../../Data/Property Data Processed/2012 address concat mean.csv')
y13 = pd.read_csv('../../Data/Property Data Processed/2013 address concat mean.csv')
y14 = pd.read_csv('../../Data/Property Data Processed/2014 address concat mean.csv')
y15 = pd.read_csv('../../Data/Property Data Processed/2015 address concat mean.csv')
y16 = pd.read_csv('../../Data/Property Data Processed/2016 address concat mean.csv')
y17 = pd.read_csv('../../Data/Property Data Processed/2017 address concat mean.csv')
y18 = pd.read_csv('../../Data/Property Data Processed/2018 address concat mean.csv')
y19 = pd.read_csv('../../Data/Property Data Processed/2019 address concat mean.csv')
y20 = pd.read_csv('../../Data/Property Data Processed/2020 address concat mean.csv')
y21 = pd.read_csv('../../Data/Property Data Processed/2021 address concat mean.csv')

In [61]:
full=pd.concat([y09,y10,y11,y12,y13,y14,y15,y16,y17,y18,y19,y20,y21])

In [65]:
full.to_csv('../../Data/Property Data Processed/full years sales.csv')

In [57]:
full['ZIP CODE']=

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2200 entries, 0 to 181
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ZIP CODE    2200 non-null   float64
 1   SALE PRICE  2200 non-null   float64
 2   YEAR        2200 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 68.8 KB

In [62]:
full['ZIP CODE']=full['ZIP CODE'].astype(int)

In [64]:
full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2383 entries, 0 to 182
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ZIP CODE    2383 non-null   int32
 1   SALE PRICE  2383 non-null   float64
 2   YEAR        2383 non-null   int64
dtypes: float64(1), int32(1), int64(1)
memory usage: 65.2 KB

In [40]:
full

     ZIP CODE    SALE PRICE     YEAR
0           0  1.679564e+06     2009
1       10001  4.502230e+06     2009
2       10002  6.706104e+05     2009
3       10003  1.259420e+06     2009
4       10004  1.404513e+06     2009
..        ...           ...      ...
178     11691  7.644009e+05  2019-20
179     11692  5.333506e+05  2019-20
180     11693  4.195935e+05  2019-20
181     11694  7.473656e+05  2019-20
182     11697  5.934425e+05  2019-20

[1461 rows x 3 columns]