In [1]:
import pandas as pd
import datetime as dt

In [3]:
m01=pd.read_csv('../../../Data/Taxi Processed - Taxi Zone/yellow_2014/yellow_tripdata_2014-01-processed.csv')
m02=pd.read_csv('../../../Data/Taxi Processed - Taxi Zone/yellow_2014/yellow_tripdata_2014-02-processed.csv')
m03=pd.read_csv('../../../Data/Taxi Processed - Taxi Zone/yellow_2014/yellow_tripdata_2014-03-processed.csv')
m04=pd.read_csv('../../../Data/Taxi Processed - Taxi Zone/yellow_2014/yellow_tripdata_2014-04-processed.csv')
m05=pd.read_csv('../../../Data/Taxi Processed - Taxi Zone/yellow_2014/yellow_tripdata_2014-05-processed.csv')
m06=pd.read_csv('../../../Data/Taxi Processed - Taxi Zone/yellow_2014/yellow_tripdata_2014-06-processed.csv')
m07=pd.read_csv('../../../Data/Taxi Processed - Taxi Zone/yellow_2014/yellow_tripdata_2014-07-processed.csv')
m08=pd.read_csv('../../../Data/Taxi Processed - Taxi Zone/yellow_2014/yellow_tripdata_2014-08-processed.csv')
m09=pd.read_csv('../../../Data/Taxi Processed - Taxi Zone/yellow_2014/yellow_tripdata_2014-09-processed.csv')
m10=pd.read_csv('../../../Data/Taxi Processed - Taxi Zone/yellow_2014/yellow_tripdata_2014-10-processed.csv')
m11=pd.read_csv('../../../Data/Taxi Processed - Taxi Zone/yellow_2014/yellow_tripdata_2014-11-processed.csv')
m12=pd.read_csv('../../../Data/Taxi Processed - Taxi Zone/yellow_2014/yellow_tripdata_2014-12-processed.csv')

In [4]:
m01['Date']='01/01/2014'
m02['Date']='02/01/2014'
m03['Date']='03/01/2014'
m04['Date']='04/01/2014'
m05['Date']='05/01/2014'
m06['Date']='06/01/2014'
m07['Date']='07/01/2014'
m08['Date']='08/01/2014'
m09['Date']='09/01/2014'
m10['Date']='10/01/2014'
m11['Date']='11/01/2014'
m12['Date']='12/01/2014'

In [5]:
full=pd.concat([m01,m02,m03,m04,m05,m06,m07,m08,m09,m10,m11,m12])

In [6]:
full

,LocationID,passenger_count_count,passenger_count_mean,passenger_count_std,passenger_count_min,passenger_count_25%,passenger_count_50%,passenger_count_75%,passenger_count_max,trip_distance_count,...,index_right_count,index_right_mean,index_right_std,index_right_min,index_right_25%,index_right_50%,index_right_75%,index_right_max,dropoff_count,Date
0,1,759.0,1.399209,0.836218,0.0,1.0,1.0,2.0,6.0,759.0,...,759.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17935.0,01/01/2014
1,2,32.0,1.312500,0.780302,1.0,1.0,1.0,1.0,5.0,32.0,...,32.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,35.0,01/01/2014
2,3,29.0,1.965517,1.782509,1.0,1.0,1.0,2.0,6.0,29.0,...,29.0,2.0,0.0,2.0,2.0,2.0,2.0,2.0,632.0,01/01/2014
3,4,49556.0,1.730890,1.388663,1.0,1.0,1.0,2.0,6.0,49556.0,...,49556.0,3.0,0.0,3.0,3.0,3.0,3.0,3.0,71170.0,01/01/2014
4,5,4.0,4.000000,2.000000,1.0,4.0,5.0,5.0,5.0,4.0,...,4.0,4.0,0.0,4.0,4.0,4.0,4.0,4.0,56.0,01/01/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,259,77.0,1.779221,1.474551,1.0,1.0,1.0,2.0,6.0,77.0,...,77.0,258.0,0.0,258.0,258.0,258.0,258.0,258.0,1720.0,12/01/2014
253,260,8516.0,1.732034,1.427459,0.0,1.0,1.0,2.0,6.0,8516.0,...,8516.0,259.0,0.0,259.0,259.0,259.0,259.0,259.0,17416.0,12/01/2014
254,261,65126.0,1.759359,1.349012,0.0,1.0,1.0,2.0,6.0,65126.0,...,65126.0,260.0,0.0,260.0,260.0,260.0,260.0,260.0,63834.0,12/01/2014
255,262,162873.0,1.677374,1.353479,0.0,1.0,1.0,2.0,8.0,162873.0,...,162873.0,261.0,0.0,261.0,261.0,261.0,261.0,261.0,164515.0,12/01/2014
256,263,239771.0,1.678977,1.339924,0.0,1.0,1.0,2.0,6.0,239771.0,...,239771.0,262.0,0.0,262.0,262.0,262.0,262.0,262.0,235061.0,12/01/2014

In [7]:
full['Date']= pd.to_datetime(full['Date'])

In [8]:
full['type']='Yellow'

In [11]:
full.to_csv('../../../Data/Taxi Processed - Taxi Zone/Year Processed/yellow_2014-processed.csv')